@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Messina';
    src: url('./assets/fonts/MessinaSansWeb-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Messina';
    src: url('./assets/fonts/MessinaSansWeb-Light.woff2');
    font-weight: 200;
}

body {
    font-family: 'Messina', sans-serif;
}

.form-container input::placeholder {
color: #000;
}

.form-container select, .form-container input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: unset;
    padding: 6px 10px;
    margin-bottom: 15px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: inherit;
    box-sizing: inherit;
    width: inherit;
    height: inherit;
}



.form-container select {
     /* Add arrow down icon */
     background-image: url('./assets/arrow-down.svg');
     background-repeat: no-repeat;
     background-position: 97% center;
     padding-right: 20px !important; 
}


.loading {
    width: 250vw;
    height: 200vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes sge-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.loading::before {
    content: "";
    position: absolute;
    width: 100%;
    background: radial-gradient(farthest-corner at bottom left, #ffeed9, transparent), radial-gradient(farthest-corner at top left, #ff631a, transparent), radial-gradient(farthest-side at top right, #ffede7, transparent), radial-gradient(farthest-corner at bottom right, #f1963b, transparent);
    height: 300%;
    animation: 4s linear infinite sge-spin;
}
